footer
  .container
    .phone
      p IF YOU HAVE ANY REQUESTS,
      p PLEASE FILL OUT THE FORM BELOW
    form(action='/', name='contactme', id='contactme', method='post')
      fieldset
        p.form_name
          label(for='name') NAME
          br
          input(name='name', type='text', value='', id='name')
        p
          label(for='email') EMAIL
          br
          input(name='email', type='text', value='', id='email')
        p
          label(for='message') MESSAGE
          br
          textarea(name='message', id='message')
        p
          input(name='submit', type='submit', value='SEND', id='submit')
          if(typeof msg !== 'undefined')
            if(!!err)
              div(class='msgbox err') #{msg}
            else
              div(class='msgbox success') #{msg}
      p#copyright &copy; 2015 Kim Pretorius
