footer
  .container#primary
    li.phone
      a(href="tel:07931-393718") 07931 393718
  .container#secondary
    form(action='/', name='contactme', id='contactme', method='post')
      fieldset
        p.form_name
          label(for='name') Name
          br
          input(name='name', type='text', value='', id='name')
        p
          label(for='email') Email
          br
          input(name='email', type='text', value='', id='email')
        p
          label(for='message') Message
          br
          textarea(name='message', id='message')
        p
          input(name='submit', type='submit', value='Send', id='submit')
          if(typeof msg !== 'undefined')
            if(!!err)
              div(class='msgbox err') #{msg}
            else
              div(class='msgbox success') #{msg}
      p &copy; 2015 Kim Pretorius
