extends ./layout.jade

block content
  .container#top-of-page
    #logo
      h1 SUGARBIRD
      h2 Gluten-Free Baking
      a(href='#')
        img(src='/static/images/sugarbird_logo.png', alt='sugarbird logo')
    .line-one
      p HELLO!
    .line-two
      p I'M KIM
    .line-three
      p A HOME BAKER
    .line-four
      p FROM
    #map
      img(src='/static/images/england_map.png', alt='buckinghamshire')
    .line-five
      p BUCKINGHAMSHIRE
    .line-six#my-work
      p
        | I 
        img(src='/static/images/heart_svg.svg', alt='love')
        |  TO
    .line-seven
      p BAKE FREE-FROM
        img(src='/static/images/gluten_free_logo.png', alt='gluten free logo')
    #cupcakes.bakes
      p ~ CUPCAKES ~
      img(src='/static/images/cupcakes.png', alt='cupcakes')
    #cakes.bakes
      p ~ CAKES ~
      img(src='/static/images/cake.png', alt='cakes')
    #wedding-cakes.bakes
      p & EVEN
      p  ~ WEDDING CAKES ~
      img(src='/static/images/wedding_cake.png', alt='wedding-cakes')
    #treats.bakes
      p AS WELL AS 
      p ~ OTHER TREATS ~
      img(src='/static/images/treat.png', alt='other treats')
    a(href='https://www.facebook.com/SugarbirdBaking')
      .line-eight
        p
        | YOU CAN FIND
        | SOME EXAMPLES
        | HERE
        br
        img(src='/static/images/FB-f-Logo__blue_144.png', alt='other treats')
    br
    .line-nine
      p
      | I AM HAPPY
      | TO DISCUSS
      | ANY REQUESTS
    br
