extends ./layout.jade

block content
  .container
    #logo
      a(href='#')
        img(src='images/sugarbird_logo.png', alt='sugarbird logo')
    .line-one
      p HELLO!
    .line-two
      p I'M KIM
    .line-three
      p A HOME BAKER
    .line-four
      p FROM
    #map
      img(src='images/england_map.png', alt='buckinghamshire')
    .line-five
      p BUCKINGHAMSHIRE
    .line-six
      p
        | I 
        img(src='images/heart_svg.svg', alt='love')
        |  TO
    .line-seven
      p BAKE FREE-FROM
    #cupcakes.bakes
      p CUPCAKES
      img(src='images/cupcakes.png', alt='cupcakes')
    #cakes.bakes
      p CAKES
      img(src='images/cake.png', alt='cakes')
    #wedding-cakes.bakes
      p & EVEN
      p  WEDDING CAKES
      img(src='images/wedding_cake.png', alt='wedding-cakes')
    #treat.bakes
      p AS WELL AS 
      p OTHER TREATS
      img(src='images/treat.png', alt='other treats')
    a(href='#')
      .line-eight
        p YOU CAN FIND
      .line-nine
        p SOME EXAMPLES
      span.line-ten
        p HERE
    br
    .line-eleven
      p I AM HAPPY
    .line-twelve
      p TO DISCUSS
    .line-thirteen
      p ANY REQUESTS
    br
    .contact
      a(href='#') CONTACT ME
