doctype html
html
  include ./partials/_head.jade
  body
    header
      img(src='images/sugarbird_logo3T.png', alt='logo')
      include ./partials/_nav.jade
    block content
    include ./partials/_footer.jade
    // JavaScript files will go here
    
