head
  meta(charset='utf-8')
  title Sugarbird | Gluten-Free Baking
  link(rel='stylesheet', href='/static/css/normalize.css', type="text/css")
  link(rel='stylesheet', href='/static/css/styles.css', type="text/css")
